/* ------------------------------------------------------------------------------------------------------------------ *
 *
 * [Loader]
 *
 *   + .loader
 *
 * ------------------------------------------------------------------------------------------------------------------ */


.loader {

  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 9000;

  background: $color-bg;

  &::after {

    display: block;
    content: '\f021';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    width: 32px;
    height: 32px;

    font-size: 18px;
    line-height: 32px;
    color: $color-text;
    text-align: center;
    font-family: 'FontAwesome', sans-serif;

    @include animation(fa-spin .7s infinite $default-timing-function);

  } // &::after

} // .loader
