@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"></button>
        <div class="h4 alert-title">Opa! Alguma coisa não deu certo:</div>        
        <div class="alert-body">
            <div class="wg-task-danger">
                <div asp-validation-summary="All" class="wg-task-item"></div>
            </div>            
        </div>        
    </div>

}

