@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Organizador Pessoal - Doodor";
    Layout = "_LayoutAuth";
}

<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Organizador Pessoal</h2>
            <br/>
            <p>
                Perfeito para vocês que sofre na construção de diversas planilhas para se organizar.
            </p>

            <p>
                Gostamos de performance pessoal, e alinhamos a T.I. na busca incansável por uma vida com mais tempo livre.
            </p>   

            <p>
                <small>Venha fazer parte você também dessa nova maneira de enxergar sua organização</small>
            </p>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="m-t">    
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="custom-checkbox">
                                    <input asp-for="RememberMe" />
                                    <label asp-for="RememberMe">
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-success">Entrar</button>
                            </div>
                        </div>

                    </div>
                    <div class="form-group text-center ">
                        <p>
                            <a asp-action="ForgotPassword">Esqueci minha senha</a>
                        </p>
                        <p>
                            <a class="btn btn-sm btn-default btn-block" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Novo usuário</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Doodor.
        </div>
        <div class="col-md-6 text-right">
            <small>© 2018-2018</small>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
