/* ------------------------------------------------------------------------------------------------------------------ *
 *
 * [Circle Progress]
 *
 *   + .progress-circle
 *
 * ------------------------------------------------------------------------------------------------------------------ */

.progress-circle {

  position: relative;
  text-align: center;

  .content {

    position: absolute;
    top: 37px;
    left: 0;
    right: 0;

    text-align: center;
    font-weight: $font-weight-primary-thin;

    &.percents {
      font-size: 35px;
    } // &.percents

    &.icon {
      font-size: 45px;
      opacity: $muted-opacity;
    } // &.icon

  } // .content

} // .progress-circle
