/* ------------------------------------------------------------------------------------------------------------------ *
 * [Clearfix Mixin]
 * ------------------------------------------------------------------------------------------------------------------ */

@mixin clearfix() {

  &::before, &::after {
    content: '';
    display: table;
  } // &::before, &::after

  &::after {
    clear: both;
  } // &::after

} // @mixin clearfix()
