@model Doodor.OrganizadorPessoal.Application.ViewModels.ContaViewModel
@using Doodor.OrganizadorPessoal.Application.ViewModels

@{
    ViewData["Title"] = "Delete";
}
<vc:summary />

<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="Nome" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Nome" class="form-control" placeholder="Insira o Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="ValorTotal" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="ValorTotal" class="form-control" placeholder="Valor total" />
            </div>
            <span asp-validation-for="ValorTotal" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="DataPrimeiroPgto" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="DataPrimeiroPgto" class="form-control" placeholder="Data primeiro pagamento" />
                <span asp-validation-for="DataPrimeiroPgto" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="FrequenciaDiaPgto" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                @{
                    var frequenciasPgto = (IEnumerable<SelectListItem>)ContaViewModel.GetSelectListFrequenciaPgto();
                }
                <select asp-for="FrequenciaDiaPgto" asp-items="@frequenciasPgto" class="form-control"></select>
                <span asp-validation-for="FrequenciaDiaPgto" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="PorcVariacaoMensal" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="PorcVariacaoMensal" class="form-control" placeholder="Porcentagem variação mensal" />
                <span asp-validation-for="PorcVariacaoMensal" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label asp-for="QtdParcelas" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="QtdParcelas" class="form-control" placeholder="Quantidade de parcelas" />
                <span asp-validation-for="QtdParcelas" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-group text-right">
    <input type="submit" value="Criar" class="btn btn-success mr-2" />
    <a asp-action="Index" class="btn btn-white">Cancelar</a>
</div>
